.navbar {
    background-color: #000000; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 50px;
  }
  
  .navbar-left {
    display: flex;
  }
  
  .navbar-item {
    color: grey;
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s, font-size 0.3s;
  }
  
  .navbar-item:hover {
    color: #ffffff; 
    font-size: 112%; 
    transition: font-size 0.3s;
    padding: '10px';
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .account-logo {
    cursor: pointer;
  }
  
  .nav-link {
    text-decoration: none;
    color: grey;
  }